.container{
    width: 500px;
    height: 600px;
    border: 1px solid #472525;
    border-radius: 3px;
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
}
#local{
    width:30%;
    height: 25%;
    border: 1px solid #160808;
    border-radius: 3px;
    box-shadow: 2px 2px 2px 0.5;
    margin: auto 0;
    text-align: center;
    -webkit-box-shadow: 0px 0px 38px 8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 38px 8px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 38px 8px rgba(0,0,0,0.75);
}
#tehran{
    width:30%;
    height: 25%;
    border: 1px solid #160808;
    border-radius: 3px;
    box-shadow: 2px 2px 2px 0.5;
    margin: auto 0;
    text-align: center;
    -webkit-box-shadow: 0px 0px 38px 8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 38px 8px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 38px 8px rgba(0,0,0,0.75);

}